
div { 
  border: 1px solid black;
  /* margin: 1px; */
}

.header { 
  display: flex;
  justify-content: space-between;
}

.header>h1{
  margin: 0;
  flex:1;
  text-align: center;
}

.flex { 
  display: flex;
}
